body{
	position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}


.nav-bar-bottom {
    width: 100vw;
    position: absolute;
    bottom: 20px;
}

form {
    margin-right: 45%;
    margin-top: 5%;
    padding: 5px;
    grid-area: datos;
    width: 300px;
}

#imagen-container{
	
	grid-area: imagen;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.body-container{
	
	display: grid;
	height: 500px;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    grid-template-areas: "imagen datos";
    margin-top: 100px;
}

#imagen-container input{
	
	cursor: pointer;
	border: 1px solid black;
	margin-top: 15px;
	padding: 5px;
}

#correo{
	margin-bottom: 20px;
}

#boton{
	margin-top: 20px;
}