<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="pizarra.js"></script>
    <link rel="stylesheet" href="/CSS/home.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/documentacion.css">
    <title>Documentación</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/JS/home.js"></script>
</head>

<body class="body">

    <section class="nav-bar-top">
        <div class="nav-container">
            <div>
                <a th:href="@{/clicklogo}" class="logo">ProjectGO</a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <div id="container-usuario">
                            <img th:src="@{'/' + ${usuario.usuario} + '/imagen'}" height="50" />
                            <div th:text="${nombreUsuario}"></div>
                        </div>
                        <ul class="nav-dropdown">
                        	<span th:switch="${autentificado}">
                        		<span th:case="1">                     		
		                            <li>
		                                <a th:href="@{/perfil}">Mi perfil</a>
		                            </li>
		                            <span th:if="${admin}">
		                            	<li><a th:href="@{/administrar}">Administrar usuarios</a></li>
		                            </span>
		                            <li>
		                                <a th:href="@{/logout}">Cerrar sesión</a>
		                            </li>
                        		</span>
                        		<span th:case="0">                     		
		                            <li>
		                                <a th:href="@{/login}">Iniciar sesión</a>
		                            </li>
                        		</span>
                        	</span>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    
		<div id="container">        
	        <a href="/pdfs/programacionProyecto.pdf" target="_blank">Programación del proyecto</a>
	        <a href="/pdfs/metodosIteracionJS.pdf" target="_blank">Métodos de iteración en JavaScript</a>
	        <a href="/pdfs/introducciónAJAX.pdf" target="_blank">Introducción a AJAX</a>
	        <a href="/pdfs/chuletaHTML.pdf" target="_blank">Chuleta HTML</a>
	        <a href="/pdfs/chuletaCSS.pdf" target="_blank">Chuleta CSS</a>
	        <a href="/pdfs/APIFetch.pdf" target="_blank">Introducción API Fetch</a>
	   	</div>
	   	
	    <div id="chat">
        	<div id="container-mensajes">	        	
		        <div th:each="comentario : ${comentarios}">
		        	<div th:text="${comentario.usuario.usuario + ': '}" class="usuario"></div>	
		        	<div th:text="${comentario.contenido}"></div>		        	
		        </div>
	        </div>
	        <form th:action="@{/enviarComentario}" method="post">
	            <input type="text" name="comentario" placeholder="Envía tu mensaje!" autocomplete="off" id="comentario"/>
	            <input type="submit" value="Enviar"/>
	        </form>
	    </div>
    
    <section class="nav-bar-bottom">
        <div class="nav-container">

            <nav>

            </nav>
        </div>
    </section>
</body>

</html>