<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="pizarra.js"></script>
    <link rel="stylesheet" href="/CSS/home.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/guia.css">
    <title>Ejemplos prácticos</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/JS/home.js"></script>
</head>

<body class="body">

    <section class="nav-bar-top">
        <div class="nav-container">
            <div>
                <a th:href="@{/clicklogo}" class="logo">ProjectGO</a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <div id="container-usuario">
                            <img th:src="@{'/' + ${usuario.usuario} + '/imagen'}" height="50" />
                            <div th:text="${nombreUsuario}"></div>
                        </div>
                        <ul class="nav-dropdown">
                        	<span th:switch="${autentificado}">
                        		<span th:case="1">                     		
		                            <li>
		                                <a th:href="@{/perfil}">Mi perfil</a>
		                            </li>
		                            <span th:if="${admin}">
		                            	<li><a th:href="@{/administrar}">Administrar usuarios</a></li>
		                            </span>
		                            <li>
		                                <a th:href="@{/logout}">Cerrar sesión</a>
		                            </li>
                        		</span>
                        		<span th:case="0">                     		
		                            <li>
		                                <a th:href="@{/login}">Iniciar sesión</a>
		                            </li>
                        		</span>
                        	</span>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="ejemplos-body">
		<div id="cuerpo">
			<h1>Índice:</h1>
		    <div id="enlaces">
		        <a href="#frontend">1 - Frontend</a><br> &nbsp;&nbsp;&nbsp;&nbsp;
		        <a href="#htmlcss">1.1 -  Enlaces a estilos</a><br> &nbsp;&nbsp;&nbsp;&nbsp;
		        <a href="#js">1.2 - Creación de un JavaScript</a><br>
		        <a href="#backend">2 - Backend</a><br> &nbsp;&nbsp;&nbsp;&nbsp;
		        <a href="#sb">2.1 - Creación del proyecto con SpringBoot</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
		        <a href="#estructura">2.2 - Estructura básica del proyecto</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
		        <a href="#crearBD">2.3 - Como crear la base de datos y añadir información inicial</a><br>
		    </div>
		    <div id="frontend">
		        <h1>Frontend: Creación de las interfaces</h1>
		        <h2 id="htmlcss">Enlaces a estilos </h2>		        
		        <figure>
		            <img src="/Imagenes/foto10.png" />
		            <figcaption>Así se deben enlazar los HTML con los estilos CSS y los ficheros JavaScript </figcaption>
		        </figure>
		        <h2 id="js">Creación de un JavaScript</h2>		       
		        <figure>
		            <img src="/Imagenes/foto11.png" />
		            <figcaption>Cuando se cargue la página, se aplicarán se aplicarán las acciones indicadas en la función "onload" del JavaScript </figcaption>
		        </figure>
		    </div>
		    <div id="backend">
		        <h1>Backend</h1>
		        <h2 id="sb">Creación proyecto con SpringBoot</h2>
		        <figure>
		            <img src="/Imagenes/foto1.png" />
		            <figcaption>Pulsamos en nuevo archivo </figcaption>
		        </figure>
		        <figure>
		            <img src="/Imagenes/foto2.png" />
		            <figcaption>Escogemos el tipo de proyecto que vamos a crear </figcaption>
		        </figure>
		        <figure>
		            <img src="/Imagenes/foto3.png" />
		            <figcaption>Le damos un nombre </figcaption>
		        </figure>
		        <figure>
		            <img src="/Imagenes/foto4.png" />
		            <figcaption>Importamos las siguientes dependencias </figcaption>
		        </figure>
		        <h2 id="estructura">Estructura básica del proyecto</h2>
		        <figure>
		            <img src="/Imagenes/foto12.png" />
		            <figcaption>Ejemplo de aplicación con todos los paquetes necesarios</figcaption>
		        </figure>
		        <h2 id="crearBD">Como crear la base de datos y añadir información inicial</h2>
		        <figure>
		            <img src="/Imagenes/foto13.png" />
		            <figcaption>Ejemplo de fichero data.sql</figcaption>
		        </figure>
		        <figure>
		            <img src="/Imagenes/foto14.png" />
		            <figcaption>Ejemplo de fichero persistence.xml</figcaption>
		        </figure>
		        <figure>
		            <img src="/Imagenes/foto8.png" />
		            <figcaption>Para que funcione deberemos añadir la siguiente línea en la clase programa de nuestro proyecto</figcaption>
		        </figure>
		    </div>
	    </div>
    </section>
    <section class="nav-bar-bottom">
        <div class="nav-container">

            <nav>

            </nav>
        </div>
    </section>
</body>

</html>